.container{
    width: 100vh;
    height: 100vh;
}

.move1{
    position: absolute;
top: -100%;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 230, 0);
    pointer-events: none;
   z-index: 1;
}
.move1AniL{
    animation-name: slideRight;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
   
}
.move1AniR{
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
}
.directionL{ 
    z-index: 5;
    position: relative;
    top: -15%;
    left: 120%;
    width: 100px;
    height: 100px;
    animation-play-state: paused;
    
    background-color:green;}
.directionR{ 
    z-index: 6;
    position: relative;
    top: 50%;
    left: 20%;
    width: 100px;
    height: 100px;
    animation-play-state: paused;
    background-color: red;}


  .directionR .directionL .move1{ 
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    background-color: black;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
  }
  .directionR .move1{ 
    animation-name: slideRight;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    background-color: grey;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: linear;
  }

  .directionR .directionL:hover .move1{ 
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    background-color: black;
    animation-direction: normal;
    /*animation-fill-mode: forwards;*/
    animation-play-state: running;
    animation-timing-function: linear;
  }
  .directionR:hover .move1{ 
    animation-name: slideLeft;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    background-color: grey;
    animation-direction:reverse;
    animation-play-state: running;
    animation-timing-function: linear;
  }
           


@keyframes slideLeft{
    0% {right: 0px;}
   
    100% {right: 400%;}
}

@keyframes slideRight{
    0% {left: 0px;}
   
    100% {left: 400%;}
}